.medium-banner {
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(5, 91, 80, 0.5), rgba(5, 91, 80, 0.5)), var(--banner-image);
}

.card {
  overflow: hidden;
  .card-img-top {
    height: auto;
  }
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
  .card-buttons {
    position: absolute;
    bottom: 1.25rem;
    right: 1.25rem;
    a {
      text-decoration: none;
    }
  }
}
