.main-banner {
  background-image: linear-gradient(rgba(5, 91, 80, 0.5), rgba(5, 91, 80, 0.5)),
    url("https://i.imgur.com/GF5sRPM.jpg");
  background-size: cover;
  background-position: center;
  padding: 120px 0;
  color: white;
  h1 {
    font-weight: bold;
  }
}

.section-header,
.section-body {
  width: 100%;
}

@include media-breakpoint-down(md) {
  .main-banner {
    background-position: left;
  }
}
