<footer class="bg-orange">
  <div class="container text-left text-light">
    <div class="row justify-content-between px-3 py-4">
      <ul class="list-inline m-0">
        <li class="list-inline-item">
          <%= link_to "Quienes somos", page_path(:about), class: "text-reset" %>
        </li>
        <li class="list-inline-item">
          <%= link_to "Condiciones", page_path(:conditions), class: "text-reset" %>
        </li>
        <li class="list-inline-item">
          <%= link_to "Contacto", page_path(:contact), class: "text-reset" %>
        </li>
      </ul>
      <ul class="list-inline m-0">
        <li class="list-inline-item">
          <a href="" class="me-4 text-reset">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="" class="me-4 text-reset">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="" class="me-4 text-reset">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
