<div class="main-banner">
  <div class="container">
    <div class="col-12 col-md-6">
      <h1>PrestApp</h1>
      <h3>No compres, arrienda herramientas facilmente con PrestApp</h3>
      <p>Has seguimiento de tus prestamos personales. Ten a mano el quien, cuando o que prestaste. Deja que nosotros
        recordemos y cobremos por ti.</p>
    </div>
  </div>
</div>
