<h1><strong>TÉRMINOS Y CONDICIONES</strong></h1>
<figure><strong>Condiciones de Arriendo</strong>
<P></p>
<ul>
<li>Edad mínima 18 años, en caso de personas menores de edad se deberán presentar con un adulto que asuma la responsabilidad del arriendo al momento de retirar el equipo.</li>
<li>Las tarifas son unitarias por día de arriendo.</li>
<li>Las tarifas incluyen IVA.</li>
<li>El monto del arriendo en ningún caso será devuelto, en el caso que se cancele la reserva con al menos 1 día completo de anticipación al retiro de procdutos, éste monto quedará abonado por un plazo máximo de 6 meses desde la fecha que fue recibido el pago. Caso contario se pierde el importe.</li>
<li>En ningún caso se podrá cambiar fecha de arriendo a última hora (mismo día de retiro), a menos que sea con 1 día completo de anticipación para quedar abonado para una nueva fecha de reserva, caso contrario, se realizará la modificación de fecha con una retención del 10% por concepto de gastos operacionales. Se creara un cupón de descuento con el importe pagado.</li>
<li>Si los equipos fueron retirados y la actividad no se concreta, no se completa en los días que fueron reservados y son entregados antes de la fecha, se considerará arriendo completo sin devolución proporcional.</li>
<li>Si existen retrasos en las devoluciones del producto  arrendado se efectuarán recargos equivalentes al valor diario de cada uno.</li>
<li>Fin de semana mínimo 2 días de arriendo.</li>
<li>Todo equipo debe ser retirado y entregado en Prestapp (Calle Serrano #91, Of. 309 Concepción , Bio Bio).</li>
</ul>
<p><strong>GARANTÍA POR DAÑO / PERDIDA / ROBO</strong</p>
<ul>
<li>No se debe dejar garantía en cheque o efectivo al momento de retirar los productos, pero se debe adjuntar foto de cédula de identidad en formulario dispuesto al momento del retiro. (solo Región del Bio Bio).</li>
<li>Las reservas con envíos a regiones, si deben dejar garantía por cada equipo arrendado. (vía transferencia)</li>
<li>Todo tipo de reparaciones es a costo del usuario.</li>
<li>Si el equipo no tiene reparación, fue extraviado o robado, se cobrará el PVP (Precio Venta Público) del producto con un descuento del 20%.</li>
<li>Si el equipo arrendado se devuelve dañado o en condiciones considerablemente peores a como se entregó, se cobrará el coste del arreglo, más un 20% de PVP (Precio Venta Público), por la pérdida de valor.</li>
</ul>
<p>Depositamos nuestra confianza en el<strong> ADECUADO y RESPONSABLE</strong> uso del equipo por parte de nuestros usuarios.</p>
<p></p>
<p><strong>RETIRO DE PRODUCTO</strong></p>
<ul>
<li>El <strong>Check-in</strong> o retiro del producto se puede realizar el día anterior de la fecha de arriendo, desde las 15:00rs hasta las 18:30rs.</li>
<li>El <strong>Check-out</strong> o deveolución deberá ser a partir de las 10:00rs hasta las 14:00rs, del día siguiente al último día de arriendo.</li>
<li><strong>MUY IMPORTANTE:</strong> No se recibirá ninguna devolución de producto los días sábado,domingo e feriados. En caso de devolución se ará el día anterior, durante los horarios indicados anteriormente.</li>
</ul>
<p><strong>DEVOLUCIÓN DE PRODUCTO</strong></p>
<p>El producto deve ser devuelto limpio y en condiciones similares a lo recibido, considerando:</p>
<ul>
<li>Aparatos audiovisuales: Cámaras, audifonos, deben ser entregados con los respectivos cargadores e estuches, en caso de camaras fotograficas deben estar con la memoria vacía.</li>
<li>Zapatos, zapatillas y calzados en geral deben ser limpios sin restos de barro.</li>
<li>Disfraz limpios y sin manchas, caso contrario se cobrará costo de lavandería</li>
<li>Caja de Herramientas, deben estar limpias y completas, en caso que perdida se aplicará multa por perdida mencionada anteriormente.</li>
<li><strong>(SE COBRARÁ EL EQUIVALIENTE A 1 DÍA DE ARRIENDO POR CADA PRODUCTO QUE SEA DEVUELTO SUCIO).</strong></li>
<p></p>
</ul>
</fugure>
