.navbar-brand {
  font-family: $headers-font;
  font-weight: bold;
}

.bg-orange {
  background-color: $pure-orange;
}

.navbar-prestapp {
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.navbar-prestapp .navbar-collapse {
  flex-grow: 0;
}

.navbar-search {
  position: relative;
  flex-grow: 1;
  max-width: 500px;
  [type="search"] {
    border: none;
    width: 100%;
  }
  .nav-mgngls {
    color: $dark-cyan;
    background-color: transparent;
    border: none;
    right: 8px;
    position: absolute;
  }
}
